@font-face {
    font-family: 'Joan';
    src: url("~/assets/fonts/Joan.ttf");
}

@font-face {
    font-family: 'Fira Sans';
    src: url("~/assets/fonts/FiraSans.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Joan', serif;
}

html,
body {
    overflow: hidden;
    margin: 0;
    padding: 0;

    font-family: 'Fira Sans', sans-serif;
}

body {
    background-image: url("~/assets/wallpaper/whilst.png");
    background-size: cover;
}

button {
    border: 1px solid #C6C6C4;
    border-style: solid;
    border-radius: 5px;
    background: linear-gradient(180deg, #F2F2F2 0%, #EDEDED 41%, #DDDDDD 56%);
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;

    &:hover {
        filter: brightness(0.8);
    }

    &:active {
        filter: brightness(0.5);
    }

    &:disabled {
        filter: brightness(0.5);
        cursor: not-allowed;
    }
}

input[type="submit"] {
    border: 1px solid #C6C6C4;
    border-style: solid;
    border-radius: 5px;
    background: linear-gradient(180deg, #F2F2F2 0%, #EDEDED 41%, #DDDDDD 56%);
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;

    &:hover {
        filter: brightness(0.8);
    }

    &:active {
        filter: brightness(0.5);
    }

    &:disabled {
        filter: brightness(0.5);
        cursor: not-allowed;
    }
}

/* shoutout https://moderncss.dev/pure-css-custom-checkbox-style/ */
input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;

    font: inherit;
    color: currentColor;
    width: 1em;
    height: 1em;
    border: 1px solid #C6C6C4;
    border-radius: 5px;
    background: linear-gradient(180deg, #F2F2F2 0%, #EDEDED 41%, #DDDDDD 56%);
    transform: translateY(-0.1em);

    display: grid;
    place-content: center;

    &::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        z-index: 5;
        background: black;
        transform: scale(0);
        transform-origin: bottom left;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        box-shadow: inset 1em 1em var(--form-control-color);
    }

    &:checked::before {
        transform: scale(1);
    }
}

label:has(input[type="checkbox"]) {
    /* stupid fix */
    display: flex;
    align-items: center;
    gap: 3px;
}

input[type="text"] {
    outline: none;
    background-color: #F2F2F2;
    border: 1px solid #7B7B7B;
    font-family: 'Fira Sans', sans-serif;

    &:active {
        outline: none;
    }
}

input[type="email"] {
    outline: none;

    background-color: #F2F2F2;
    border: 1px solid #7B7B7B;
    font-family: 'Fira Sans', sans-serif;

    &:active {
        outline: none;
    }
}